{
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "parser": "json"
      }
    }
  ]
}
